body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background: rgba(4, 52, 76, 0.756);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin: 10px;
    height: 30px;
    width: 300px;
}

#container {
    height: 960px;
    width: 960px;
    background: white;
    display: flex;
    align-items: stretch;
}

.column {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
}

.box {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    border: solid grey; 
    border-width: 0.1px;
    background: white;
}


#boxEdited {
    background: black;
}

