#container {
    height: 512px;
    width: 512px;
    background: white;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.box {
    height: 30px;
    width: 30px;
    border: solid grey;
    border-width: 1px;
    background: white;
    margin: 0px;
    gap: 0px;
}

#boxEdited {
    background: black;
}

